@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fira+Sans:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap')
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css')

$color: #007bff
$background: #988e8e26

html,body
    padding: 0
    margin: 0
    font-family: 'Fira Sans', sans-serif

p,a,span
    font-family: 'Sora', sans-serif

.noc-navbar
    height: 60px
    box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
    background-color: white
    margin-bottom: 10px
    display: flex
    align-items: center
    justify-content: space-around
    .noc-brand
        font-family: "Dancing Script", sans-serif
        font-size: 30px
        color: tomato
    .noc-input
        width: 400px
        display: flex
        align-items: center
        box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
        height: 30px
        border-radius: 10px
        position: relative
        input
            width: 100%
            border: none
            outline: none
            padding: 0px 15px 0px 15px
        .noc-btn-input
            width: 40px
            height: 30px
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            border: none
            outline: none
            color: tomato
            background-color: white
            box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
    .noc-group
        .noc-t
            width: 120px
            height: 30px
            background-color: tomato
            color: white
            font-family: "Sora", sans-serif
            border-radius: 10px
            border: none
            outline: none
            cursor: pointer
            box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
            text-transform: capitalize

// Navbar Dropdown

.noc-navbar-input-dropdown
    position: absolute
    width: 100%
    background-color: white
    box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
    top: 40px
    border-radius: 10px
    display: flex
    align-items: center
    justify-content: center
    .noc-navbar-dropdown-list
        width: 96%
        max-height: 400px
        overflow-y: auto
        .noc-navbar-dropdown-acc
            display: flex
            align-items: center
            margin-bottom: 8px
            img
                width: 32px
                height: 32px
                border-radius: 80%
            .noc-navbar-dropdown-acc-content
                margin-left: 8px
                width: 80%
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                line-height: 12px
                a
                    display: block
                    font-size: 12px
                    color: black
                    text-decoration: none
                    font-family: "Sora", sans-serif
                    &:hover
                        text-decoration: underline
                        color: $color
                span
                    font-size: 10px
                    font-family: "Sora", sans-serif

// Authorization

.noc-form
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 80vh

.noc-authorization
    background-color: white
    .noc-field
        width: 400px
        height: 30px
        margin-bottom: 15px
        display: flex
        justify-content: center
        &:last-child
            display: block
        input
            width: 100%
            height: 30px
            border: none
            box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
            padding-left: 15px
            padding-right: 15px
            border-radius: 10px
            outline: none
    #noc-field
        margin-top: 15px
        display: flex
        justify-content: space-around
        align-items: center

.noc-authorization-btn
    display: flex
    margin: auto
    align-items: center
    justify-content: center
    width: 120px
    height: 30px
    background-color: tomato
    border: none
    box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
    border-radius: 15px
    color: white
    font-weight: bold
    cursor: pointer

.noc-link
    text-decoration: none
    color: $color

// Message

.validate
    position: absolute
    width: 100%
    background-color: transparent
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    color: white
    animation: validate 2s forwards
    .validate-success,
    .validate-error
        padding: 6px 20px 6px 20px
        border-radius: 6px
    .validate-success
        background-color: green
    .validate-error
        background-color: red
    .validate-text
        font-size: 14px

// Post

.noc-grid
    display: flex
    .noc-col
        background-color: white
        width: 100%
        &:first-child
            width: 75%
            background-color: white
        &:last-child
            width: 75%
            background-color: white

.noc-post
    margin-bottom: 10px
    padding: 5px
    box-shadow: 0px 0px 10px -7px rgba(0,0,0,0.75)
    border-radius: 10px
    .noc-post-author
        display: flex
        align-items: center
        margin-bottom: 6px
        img
            width: 42px
            height: 42px
            border-radius: 80px
        .noc-post-author-headers
            margin-left: 6px
            line-height: 12px
            a
                font-size: 16px
                font-weight: bold
                text-decoration: none
                color: black
                display: block
                &:hover
                    text-decoration: underline
                    color: $color
            span
                font-size: 10px
    .noc-post-content
        width: 100%
        .noc-post-photo
            width: 100%
            height: 460px
            background-size: 100% 100%
            border-radius: 10px
        span
            font-size: 12.8px

@keyframes validate
    from
        bottom: -1200px
    to
        bottom: 16px

@keyframes navbar-filter-animation
    from
        opacity: 0
    to
        opacity: 1

.hidden
    display: none
